*{
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}
.fl-l{
    float: left;
}
.fl-r{
    float: right;
} 
#full-content{
    padding-right: 0;
    padding-left: 0;
}
header{
    width: 100%;
    position: fixed;
    z-index: 10;
}
#dark{
    background-color:#343a40;
}
#light{
    background-color:#ffffff;
    color: #343a40;
    display: none;
}
#ltr{
    display: none;
}
.mt-100{
    margin-top: 100px;
}
#setting-animation{
    animation: mymove 1s infinite;
}
@keyframes mymove {
    100% {transform: rotate(180deg);}
}
img{
    border-style: none;
    margin-top: 22px;
}
#colapse{
    background-color: #ffffff;
    position: fixed;
    width: 190px;
    top:100px;
    padding: 16px;
    left:-100%;
    z-index: 20;
    border: solid 1px #e4dede;
    /* transition: all 0.5s ease; */
}
#colapse h6 {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.colapse-btn{
    margin-left: 20px;
}
#colapse li{
    width: 35px;
    height: 35px;
}
.circle-color{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#setting{
    position: fixed;
    background-color: #ffffff;
    border: solid 1px #e4dede;
    top: 100px;
    left:0;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 20;
    padding: 10px ;
    /* transition: all 0.5s ease; */
}

#landing-menu{
    position: fixed;
    top: 69px;
    left: 45%;
    z-index: 20;
    padding: 15px 0;
    list-style: none;
    min-width: 180px;
    height: 520px;
    visibility: hidden;
    margin-top: 10px;
    transition: all .2s ease;
    border-radius: 6px;
    background-color: #ffffff;
}
#i-landing{
    transition: all 0.5s ease;
}
#landing-menu ul:first-child{
    padding-left: 20px;
}
#landing-menu ul:last-child{
    margin-right: 30px;
}
#landing-menu li{
    margin-top: 10px ;
    margin-bottom: 10px;
}
#landing-menu li a{
    font-size: 16px;
}
#pages-menu{
    position: fixed;
    top: 69px;
    left: 50%;
    z-index: 20;
    padding: 15px 0;
    list-style: none;
    min-width: 180px;
    height: 520px;
    visibility: hidden;
    margin-top: 10px;
    transition: all .2s ease;
    border-radius: 6px;
    background-color: #ffffff;
}
#i-pages{
    transition: all 0.5s ease;
}
#pages-menu ul:first-child{
    padding-left: 20px;
}
#pages-menu ul:last-child{
    margin-right: 30px;
}
#pages-menu li{
    margin-top: 10px ;
    margin-bottom: 10px;
}
#pages-menu li a{
    font-size: 16px;
}
#docs-menu{
    position: fixed;
    top: 69px;
    left: 51%;
    z-index: 20;
    padding: 15px 0;
    list-style: none;
    min-width: 180px;
    height: 170px;
    visibility: hidden;
    margin-top: 10px;
    transition: all .2s ease;
    border-radius: 6px;
    background-color: #ffffff;
}
#i-docs{
    transition: all 0.5s ease;
}
#docs-menu ul:first-child{
    padding-left: 20px;
}
#docs-menu ul:last-child{
    margin-right: 30px;
}
#docs-menu li{
    margin-top: 10px ;
    margin-bottom: 10px;
}
#docs-menu li a{
    font-size: 16px;
}

.text-blue{
    color: #2f55d4 !important;
}
.text-lightGreen{
    color: rgb(109, 199, 122) !important;
}
.text-purple{
    color: rgb(121, 82, 179) !important;
}
.text-pink{
    color: rgb(255, 91, 105) !important;
}
.text-lightBlue{
    color: rgb(50, 194, 236) !important;
}
.text-green{
    color: rgb(15, 113, 115) !important;
}
.text-lightBlue2{
    color: rgb(0, 201, 167) !important;
}
.text-lightPurple{
    color: rgb(118, 109, 244) !important;
}

.button-fill{
    padding: 8px 20px ;
    font-weight: 500 !important;
}
.button-blue{
    background-color: #2f55d4 !important;
}
.button-lightGreen{
    background-color: rgb(109, 199, 122) !important;
}
.button-purple{
    background-color: rgb(121, 82, 179) !important;
}
.button-pink{
    background-color: rgb(255, 91, 105) !important;
}
.button-lightBlue{
    background-color: rgb(50, 194, 236) !important;
}
.button-green{
    background-color: rgb(15, 113, 115) !important;
}
.button-lightBlue2{
    background-color: rgb(0, 201, 167) !important;
}
.button-lightPurple{
    background-color: rgb(118, 109, 244) !important;
}
.button-blue:hover{
    background-color: #1b47d6;
}
.button-lightGreen:hover{
    background-color:   rgb(57, 195, 78);
}
.button-purple:hover{
    background-color: rgb(98, 48, 173)
}
.button-pink:hover{
    background-color:  rgb(168, 47, 57);
}
.button-lightBlue:hover{
    background-color: rgb(12, 133, 170);
}
.button-green:hover{
    background-color: rgb(7, 65, 66);
}
.button-lightBlue2:hover{
    background-color: rgb(3, 110, 92);
}
.button-lightPurple:hover{
    background-color: rgb(58, 48, 194);
}
.button-white{
    background-color: #ffffff !important;
    padding: 8px 20px !important;
    font-weight: 500 !important;
}
.button-white:hover{
    background-color: #2f55d4 !important;
    color: #ffffff !important;
}
#bars-dropdown{
    margin-top:26px;
    font-size: 20px;
}
#btn-buyNow{
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 15px;
}
label #btn-dropdown,
label #cancle-dropdown{
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}
#navigator{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    top:-100%;
    transition: all 0.5s ease;
    z-index: 7;
}

.navigation-menu{
    transition: 0.5s ease;
}
.navigation{

}
#navigator > a{
    display: block ;
    padding-top: 8px;
    padding-bottom: 8px;
}
.main-image{
    background-color: #ecf6f8;
    height: 500px;
    width: 100%;
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    background-position: center;
    align-self: center;
    background-image: url('img/bg01.png');
}
.text-main{
    font-size: 64px !important;
}
#main-image-content{
    max-width: 525px;
}
.frame{
    margin-top: 80px ;
}
.estimate-line-out{
    display: flex;
    background-color: #e9ecef;
    height: 8px;
    margin: 15px 0;
    border-radius: 10px;
    z-index: 0;
}
.estimate-line-in{
    background-color: #2f55d4;
    position: relative;
    top: 0;
    border-radius: 10px;
    height: 8px;
    z-index: 2;
}
.img-sign-frame{
    width: 99%;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.img-sign{
    margin: 0;
    transition: all 0.5s ease;
}
.img-sign:hover{
    transform: scale(1.2) rotate(8deg);
}
.read-more{
    transition: 0.5s ease;
    margin-top: 20px;
}
.read-more:hover{
    transform: translate(0,-10px);
}
.step{
    color: #e2e2e1;
}
#carousel-frame{
    background-color: #206da0ca;
    width: 100%;
    height: 400px;
}
.circle-image{
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px auto;
}
.star-frame{
    max-width: 90px;
    margin: 10px auto;
}
.star{
    color: #e6c81e;
}
.img-company{
    width: 80%;
    padding: 24px 15px;
}
.box-lastest-new{
    overflow: hidden;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
    border-radius: 6px;
}
.box-lastest-new-img{
    position: relative !important;
}
.overlay{
    display: none;
    background-color: #c3bebe !important;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.box-lastest-new:hover{
    transform: translate(0,-10px);
}
footer{
    background-color: #202942;
    color:#ffffff;
    margin-left: 0;
    margin-right: 0;
}
#toTop {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;  
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
    transition: all 0.5s ease;
} 

#toTop:hover {
    transform: rotate(45deg); 
}
@media only screen and (min-width: 992px){
    #navbar-menu{
        display: flex;
        justify-content: center;
    }
    #navbar-menu a {
        margin: auto 20px;
        font-weight: 500;
        font-size: 16px;
        padding-top: 10px;
    }
    #navigator{
        display: none;
    }
    #navigation{
        display: flex;
    }
    #bars-dropdown{
        display: none;
    }
}
@media only screen and (max-width: 992px){
    #navigator{
        display: block;
    }
    #bars-dropdown{
        display: block;
    }
    #btn-buyNow{
        float: left;
    }
    #navigation{
        display: none;
    }
    label #btn-dropdown{
        display: block;
        margin-top: 20px;
    }
    #navbar-menu{
        text-align: right;
    }
    #check:checked ~ #navigation{
        display: block;
    }
    #check:checked ~ label #btn-dropdown{
        display: none;
    }
    #check:checked ~ label #cancle-dropdown{
        display: block;
        margin-top: 20px;
    }
}